<?xml version="1.0" encoding="UTF-8"?>
<configuration>
       <system.webServer>
              <security>
                     <ipSecurity allowUnlisted="false" denyAction="NotFound">
                            <add allowed="true" ipAddress="202.248.118.3" />
                            <add allowed="true" ipAddress="168.63.214.110"/>
                     </ipSecurity>
              </security>
       </system.webServer>
</configuration>
